*{
    margin: 0;
    padding: 0;
}
#flex-container{
    display: flex;
    height: 500px;
    margin-top: 50px;
    border: 1px solid #000;
    list-style-type: none;
}
#flex-container li{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 150px;
    padding: 20px;
    border: 1px solid #f00;
}
#flex-container li:nth-child(1){
    height: 120px;
}
#flex-container li:nth-child(2){
    height: 100px;
}
#flex-container li:nth-child(3){
    height: 40px;
}
#flex-container li:nth-child(4){
    border-color: #0f0;
    height: 200px;
}
@media screen and (min-width: 641px){
    #flex-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 640px){
    #flex-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #flex-container li:nth-child(4){
        order: -1;
    }
}