*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1280px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
.header{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #FFF;
	position: relative;
}
#header-logo{
	width: 110px;
	float: left;
	margin-left: 60px;
}
#header-logo img{
	float: left;
	margin-right: 10px;
	margin-top: 14px;
}
#header-logo p{
	font-size: 21px;
	font-family: "黑体";
	color: #333;
}
#header-nav{
	position: absolute;
	right: 0;
	width: 645px;
	line-height: 55px;
}
#header-nav a{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
#header-nav a:link{
	text-decoration:none;
}
#header-nav a:visited{
	text-decoration:none;
}
#header-nav a:hover{
	text-decoration:none;
}
#header-nav a:active{
	text-decoration:none; 
}
#nav-bar{
	position: absolute;
	left: 0;
	list-style-type: none;
}
#nav-bar li{
	float: left;
	margin-left: 30px;
	width: 65px;
	text-align: center;
}
.active{
	border-bottom: 5px solid #ff6666;
}
#nav-login{
	position: absolute;
	right: 0;
	width: 50px;
	margin-left: 30px;
	margin-right: 65px;
}
#nav-login a{
	color: #ff6666;
	float: right;
}
